@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import 'styles/config.css';
@import 'styles/utilities.css';

* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Libre Baskerville', serif;
  max-width: 1360px;
  min-width: 1360px;
  margin: auto;
}
